<div class="form-group">
    <label class="form-label"> {{startLabel}} </label>
</div>
<div class="form-group">
    <div class="date start" name="date">
        <input type="text" name="startDate" class="form-control" ng-disabled="isDatePickerDisabled" placeholder="选择日期" ng-focus="selectStartDate()">
        <i class="fa fa-calendar glyphicon glyphicon-calendar"></i>
    </div>
</div>
<div class="form-group">
    <label class="form-label"> {{ endLabel }} </label>
</div>
<div class="form-group">
    <div class="date end" name="date">
        <input type="text" name="endDate" class="form-control end" ng-disabled="isDatePickerDisabled" placeholder="选择日期"  ng-focus="selectEndDate()">
        <i class="fa fa-calendar glyphicon glyphicon-calendar"></i>
    </div>
</div>


