
<div>
	<section class="content-header" style="padding-top:0;padding-left:0;padding-right:0;">   
	<p style="padding-top:15px;padding-left:15px;"><a style="color:#555;" href="#/">首页</a> > <a style="color:#555;" href="/#/overview/appManage/">应用管理</a> > <a style="color: #11b983">蛙测</a></p>
		<h4><div class="square"></div><strong style="position: relative;top: -8px;font-weight: normal;font-size: 18px;color: #000;">蛙测</strong></h4>
	<div style="height: 5px;background: #dee3ec;"></div>
	</section>
	<div class="mainContent">
		<div class="table-header" style="margin-bottom: 14px;margin-top: 13px;">
			  
			<form class="form-inline">
					<div class="form-group">
						<input type="text" class="form-control sheet-input" placeholder="请输入任务名称" ng-model="taskName">
					</div>
					<div class="form-group select2height">
						<select class="form-control sheet-select" style="padding-top: 0px;" ng-model="status" ng-options="status.value as status.name for status in statusList">
							<option value="">请选择状态</option>
						</select>
					</div>
					<div class="form-group select2height">
						<select class="form-control sheet-select" style="padding-top: 0px;" ng-model="envName" ng-options="task.envName as task.envName for task in tasks">
							<option value="">请输入环境实例名称</option>
						</select>
					</div>
			         <div class="form-group">
                        <div class="search-div marginL" ng-click="search()">查询</div>
                        <div class="reset-div marginL" ng-click="reset()">重置</div>
                    </div>
					<div class="pull-right">
						<a href="javascript:void(0)" class="text-primary" ui-sref="topHead.leftColumn.editTestTask({type:'create'})" style="margin-right: 20px;"><i class="fu fu-plus" style="color: #65B113"><span style="color: #11B983;font-size: 12px">创建任务<span></i></a>
					</div>
				</form>
			</div>
			<!--表格主体 -->
		<div class="table-body">
        <table class="sn-table" style="table-layout: fixed">
			<tr>
				<th width="6%">任务名称</th>
				<th width="6%">状态</th>
				<th width="6%">蛙测执行计划</th>
				<th width="6%">环境实例名称</th>
				<th width="6%">任务描述</th>
				<th width="6%">创建时间</th>
				<th width="30%">操作</th>
			</tr>
			<tr ng-repeat="task in taskList">
				<td class="text_overflow" title="{{task.taskName}}">{{task.taskName}}</td>
				<td>{{task.status |commonStatusFiler}}</td>
				<td class="text_overflow" title="{{task.sctsTaskName}}">{{task.sctsTaskName}}</td>
				<td>{{task.envName}}</td>
				<td class="text_overflow" title="{{task.description}}">{{task.description}}</td>
				<td>{{task.createTime}}</td>
				<td>
					<a ui-sref="topHead.leftColumn.taskRecord({taskId:task.taskId,type:3,taskName:task.taskName})">执行历史</a>
					<a  ui-sref="topHead.leftColumn.editTestTask({type:'detail',taskId:task.taskId})">任务详情</a>
					<a ng-if="task.status!=0" ui-sref="topHead.leftColumn.editTestTask({type:'edit',taskId:task.taskId})">修改</a>
					<a ng-if="task.status!=0" ng-click="delete(task)">删除</a>
					
				</td>
			</tr>
		</table>
    </div>
    <div class="table-footer">
        <div class="pull-right sn-table-pager text-right">
            <cd-pager style="float: right" page="pageIndex" page-size="pageSize" total="totalCount" page-action="paging1(page, pageSize, total)"></cd-pager>
        </div>
        <div class="clear"></div>
    </div>
	
	<!--<div class="relative-div">
		<div class="absolute-div">我的项目</div>
		<div class="content-div">
					
		</div>
	</div>-->
</div>





